@import "./abstracts/vars";
@import "./abstracts/mixins";
@import "./abstracts/fonts";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
.container {
    width: 1210px;
    width: 1110px;
}


@import "./blocks/header";
@import "./components/menu";
@import "./components/btn";


@import "./blocks/help";

