@import "./abstracts/vars";
@import "./abstracts/mixins";
@import "./abstracts/fonts";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

}

// .container {
//     width: 1210px;
//     width: 1110px;
// }

// .q {
//     font-family: OpenSans;
//     font-weight: 700;
//     font-size: px-to-rem(120);

// }

// .w {
//     font-family: OpenSans;
//     font-weight: 600;
// }

// .e {
//     font-family: Quicksand;
//     font-weight: 600;
// }





@import "./blocks/header";
@import "./components/logo";
@import "./components/social";

@import "./components/btn";


@import "./blocks/help";