*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: #fff;
    color: #000;
}

.inner {
    overflow: hidden;
}

@import './header.scss'