@import './abstracts/vars';
@import './abstracts/mixins';
@import './abstracts/fonts';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

.sr-only {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

.wrap {
    overflow: hidden;
}

@import './blocks/header';
@import './components/btns';
@import './components/menu';
@import './components/social';
@import './blocks/plan';
@import './blocks/partners';
@import './blocks/app';
@import './blocks/features';
@import './blocks/statistics';
@import './blocks/statistics';
@import './blocks/blog';
@import './components/slider';
@import './blocks/testimonials';
@import './components/quotes';
@import './blocks/help';
@import './blocks/life';
@import './blocks/sing';
