.app {
    background: #F5F8FF url(./../images/app/app.png) no-repeat;
}

.app__content {
    max-width: 430px;
}

.app__title {
    @extend %title;
}
.app__subtitle {
    @extend %subtitle;
}

.app__subtitle + span {
    @extend %subtitle;
    font-weight: 500;
}

.app__text {
    @extend %text;
}

