.blog {
  padding: 65px 0;

  background-color: #F5F8FF;
  text-align: center;

  @include media(md) {
    padding: 80px 0;
  }

  @include media(xl) {
    padding: 120px 0 210px;
  }
}

.blog__title {
  @extend %title;
}

.blog__subtitle {
  @extend %subtitle;
  font-size: 24px;

  display: block;

  margin-bottom: 30px;

  @include media(md) {
    margin-bottom: 60px;
  }

  @include media(xl) {
    margin-bottom: 90px;
  }
}

.carousel-control-next {

  @include media(xl) {
    // background-color: #F5F8FF;
    right: -70px;
  }
}

.carousel-control-prev {
  @include media(xl) {
    // background-color: #F5F8FF;
    left: -70px;
  }
}

.carousel-control-next-icon {
  visibility: hidden;

  @include media(xl) {
    background-image: url(../images/blog/Vector2.svg);
    visibility: unset;
  }
}

.carousel-control-prev-icon {
  visibility: hidden;

  @include media(xl) {
    background-image: url(../images/blog/Vector1.svg);
    visibility: unset;
  }
}

.carousel-indicators {
  bottom: -60px;

  @include media(xl) {
    bottom: -135px;
  }
}

.carousel-inner {
  margin: 0 auto;

  background-color: #F5F8FF;
}
