.plan {
  position: relative;
}

.plan__round {
  width: 8px;
  height: 8px;

  background-color: #D1D6E3;
  border-radius: 50%;

  .active {
    background-color: #5283FF;
  }
}

.plan__content {
  max-width: 650px;

  margin: 0 auto;

  font-family: Roboto;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.1em;
  color: #3D4F9F;
}

.plan__title {
  @extend %title;
}

.plan__main-title {
  @extend %bigTitle;

  & span {
    font-weight: 500;
  }
}

.plan__text {
  max-width: 505px;
  margin: 0 auto;
  @extend %text;
}

.plan__img {
width: 100%;
height: 100%;
}



