.btn {
  padding: 10px;

  border-radius: 2px;

  font-family: Quicksand;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: center;


  transition: .3s;
}

.btn--blue {
  min-width: 115px;
  min-height: 45px;

  color: $textBtnBlue;
  background-color: $btnBg;
}

.btn__social {
    width: 65%;
    text-align: center;
    margin: 30px auto 0;

  @include media(sm) {
    width: unset;

    margin: 0;
  }
}

