.btn {
  min-width: 115px;
  min-height: 45px;

  padding: 10px;

  border-radius: 2px;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: center;

  transition: .3s;
}



.btn--blue {
  color: $textBtnBlue;
  background-color: $btnBg;
}

.btn--red {
  color: #D43F3F;
  background-color: #FFD7D7;
}


.btn--dark {
  min-width: 130px;
  min-height: 45px;

  color: #ffffff;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px;
}

.btn--light {
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
  box-sizing: border-box;
  border-radius: 2px;
}

.btn--transparent {
 color: #A6B6DA;
}


